/* global  */

body {
  font-family: 'Smythe', cursive;
  margin: 20px 450px;
  border: 1.5px black solid;
}

.container {
  margin: 35px;
}

/* header  */

header img{
  width: 100%;
  margin-bottom: 10px;
}

/* info  */

.menu-item-full-info .menu-item-icon {
  width: 55px;
  height: 60px;
  margin-right: 25px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.menu-item-full-info {
  display: flex;
  align-items: center;
}

.menu-item-info {
  display: grid;
  row-gap: 4px;
}

/* button  */

.add-btn {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border: solid 1px #8B8B8B;
  border-radius: 100%;
  padding: 6px 11px;
  cursor: pointer;
}

/* text */

h2, h3, p {
  margin: 0;
  font-weight: lighter;
}

h2 {
}

h3 {
  font-size: 18px;
}

p {
  color: #8B8B8B;
}

.spacer {
  color: #8B8B8B;
}

/* order summary */

.hidden {
  display: none;
}

.close-btn {
  text-align: center;
  font-family: Arial, Helvetica;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

h3 {
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
}

.order-item, .order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-item-display h2 {
  margin-right: 1em;
  margin-top: 0.2em;
}

.order-item-display i {
  font-family: Arial;
  color: #8B8B8B;
  font-size: 10px;
  margin-top: 10px;
}

.order-item-display i:hover {
  color: red;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 15px 0px;
  margin-top: 20px;
  background-color: orange;
  border-style: none;
  cursor: pointer;
}

.order-item-price h2:not(:first-child) {
  margin-top: 1.1em;
}

/* modal  */

#modal {
  display: none;
}

.modal {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 420px;
  width: 350px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: white;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal input {
  text-align: center;
  margin-bottom: 1em;
  padding: 0.5em 0;
  padding-bottom: 0.5em;
  width: 80%;
}

.modal .btn {
  width: 80%;
  margin-left: 2.5em;
}

/* Completed order  */

.submitted-payment {
  text-align: center;
  margin-top: 1em;
  background-color: #ECFDF5;
  color: #065F46;
  padding: 2em 0;
}
